.ReactModal__Overlay {
    height:auto;
    width: 30em;
    z-index: 1000;
    /* left:25%; */
    position:relative;
}

.ReactModal__Overlay--after-open {
    left:10% !important;
}

.hidden {
    display: none;
}

.rbc-toolbar-label {
    font-weight:bold;
}