.container {
    margin: 36px auto;
    width: 100%;
    max-width: 560px;
   
}

.search-label {
    position: relative;

}

.container input {
    width: 100%;
    padding: 16px;
    font-size: 24px;
    font-style: italic;
    color: #444;
    font-style: italic;
    box-sizing: border-box;
    outline: none;
}

.search-icon {
    position: absolute;
    top: -10px;
    font-size: 24px;
    color: #555;
    right:20px;

}

.results-container {
    padding-top: 20px;
}

.root {
    min-width: 275;
  }

.bullet {
    display: inline-block;
    transform: scale(0.8);
  }
  
.title {
    font-size: 14;
  }
  
.pos {
    margin-bottom:  12;
  }