body {
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.userProfileView {
    background-color: azure;
    text-align: left;
    padding: 20px;
    
}

.userProfileView p {
    border-bottom: 1px solid black;
}